@model WebCRUDMVCSQL.Models.USUARIOS

<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
 
    
<main class="form-signin">
  @*<form action="/Login/Login" method="post">*@
    @using (Html.BeginForm("ProcessarLogin", "Login", FormMethod.Post))
        {

    <img class="mb-4" src="./image/criar-site.png" alt="" width="300" height="300">
    <h1 class="h3 mb-3 fw-normal">Login </h1>
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.NOME_USUARIO)
            @Html.TextBoxFor(m => m.NOME_USUARIO, "", new { @class = "form-control", @placeholder = "Email" })

        </div>
        <div class="form-group form-floating" >
            @Html.LabelFor(m => m.Senha)
            @Html.PasswordFor(m => m.Senha, new { @class = "form-control", @placeholder = "Password" })
        </div>
        <div class="form-group form-floating" >
            <input type="submit" name="submit" class="btn btn-primary" value="Login" />
        </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Endereço de E-mail</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
      <label for="floatingPassword">Senha</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Me Lembre
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        }
@*  </form>*@
</main>
