@model IEnumerable<WebCRUDMVCSQL.Models.Produtos>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>

    }
</table>

@*@Html.ActionLink("Gerar XML", "GerarXML")*@

<input type="button" value="Gerar XML" onclick="location.href='@Url.Action("GerarXML", "Produto")'" />

@*@Html.ActionLink("Baixar Arquivo XML", "Download")*@





<input type="button" value="Baixar XML" onclick="location.href='@Url.Action("Download", "Produto")'" />